{% load static %}
doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    title CONNECT
    link(href="{% static 'file/logo.ico' %}",rel="icon")
    {% load sass_tags %}
    link(href="{% sass_src 'sass/homepage.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")

  {% include 'navbar.pug' %}

  body
    #container
      //-
        #postcolumn
          #header
            img src="./使用者的頭像"
          button #insert
          #postform
            #header
              img src="./使用者的頭像"
            #user
              p #{使用者的姓名}
            #mypopup(data-role='popup')
              form(method="post" action="./資料送去的位址.php")
                input(
                  type='text'
                  name='title'
                  value='活動標題'
                  required
                )
                input(
                  type='text'
                  name='subtitle'
                  value='副標題'
                )
                textarea(
                  id="textarea"
                  maxlength='100'
                  placeholder='內容詳情'
                  required
                )
                botton(type="submit")發佈
      #create
        #userpic
        #insertbox
      

        

      #board
        #divider
          hr#line1.line
          p 分類
          select#category
            option(value='recommend') 推薦
            option(value='recommend') 推薦
            option(value='recommend') 推薦
          p 排序
          select#sort
            option(value='hot') 最多人喜歡
            option(value='hot') 最多人喜歡
            option(value='hot') 最多人喜歡
          hr#line2.line

        #postwrapper
        #postype
          #mark
            img(src="{% static 'file/applyicon.png' %}")
          #title
            p ＃揪團 去COSTCO
          #subtitle
            p 有會員卡，缺司機
          #attachpic
            img(src="{% static 'file/exiticon.png' %}")
            img(src="{% static 'file/exiticon.png' %}")
          #likebutton
            img(src="{% static 'file/like-y.png' %}")
            h 160
          #comment
            img(src="{% static 'file/msgicon.png' %}")
            h 36            

    #gotop
      p ˄
    
    #filter1
    
    #eventwindow
      #description
        h1 {{ event_obj.title }}
        //- pug多行註解：//之後要註解的都縮排
        //
          #keywords
            #kw1 costco
            p ,
            #kw2 有會員卡
            p ,
            #kw3 缺司機
        #subtitle {{ event_obj.subtitle }}
        #detail {{ event_obj.detail }}

      #member
        #organizer.member
        #bar
        #member1.member
        #member2.member
        #member3.member
        #member4.member
        #member5.member
      
      #operatebg
      
      #eventoperate
              
        img#exitbtn1(src="{% static 'file/exiticon.png' %}")
        #flag
          img#flag-y(src="{% static 'file/flag-y.png' %}")
          img#flag-n(src="{% static 'file/flag-n.png' %}")
        
          
        #date 2021/5/2
        #organizerpic
        p {{ event_obj.host.full_name }}

          
        #likebutton
          {% load static %}
          img#like-y(src="{% static 'file/like-y.png' %}")
          img#like-n(src="{% static 'file/like-n.png' %}")

        #applybutton
          img#apply-y(src="{% static 'file/applyicon.png' %}")

      #sent
        {% load static %}
        img#mailicon(src="{% static 'file/lettericon.png' %}")
        p 已向發起者送出邀請
    
    
    
    
    #eventcreatewindow
      img#exitbtn2(src="{% static 'file/exiticon.png' %}")
      
      form(action="", method="post") {% csrf_token %}
        #profile
          #pic
          h1 {{ user.username }}
        {{ form.as_p }}
        //- textarea#eventtitle.input-area(type="text", name='eventtitle', placeholder="活動標題", maxlength="8")
        
        //- ul
        //-   li
        //-     a.tag tag1
        //-   li
        //-     a.tag tag2
        //-   li
        //-     a.tag tag3
        //-   li
        //-     a.tag tag4
        //-   li
        //-     a.tag tag5
        //-   li
        //-     p#plus +

        //- textarea#eventsubtitle.input-area(type="text", name='eventsubtitle', placeholder="副標題", maxlength="20")
        //- textarea#eventdescription.input-area(placeholder="內容描述")

        #buttons
          input#submit-btn(type="image" src="{% static 'file/submitbtn.png' %}" alt="Submit Form")
          //img#vector(src="{% static 'file/vectoricon.png' %}")
          //p#submit 發佈
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js")
    //- script(src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js")
    //- script(src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js")
    script(src="{% static 'js/homepage.js' %}")
