{% load static %}
doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    title CONNECT
    link(href="{% static 'file/logo.icon' %}",rel="icon")
    {% load sass_tags %}
    link(href="{% sass_src 'sass/homepage.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    //script(src="https://d3js.org/d3.v3.js")
    //script(src="https://d3js.org/d3.v4.js")
    script(src="https://d3js.org/d3.v5.js")
  {% include 'navbar.pug' %}

  body
    canvas#world
    #phoneerrormsg
      //#errorlogo
      p 尚未針對窄螢幕優化
        br
        | 請先以電腦網頁瀏覽
      #errorfilter
  
    #container
      #create
        {% if request.user.is_authenticated %}
        
        a(href="{% url 'profile' id=request.user.userextend.pk %}")
          img#userpic(src="{{ request.user.userextend.img.url }}")
        button#insertbox 發起活動？
          p#insertbar |
        
        {% else %}
        
        a(href="{% url 'login' %}")
          #userpic
        a#inserta(href="{% url 'login' %}")
        button#insertbox 發起活動？
        
        {% endif %}
        

      #board
        #divider
          hr#line1.line
          form
            p 分類
            select#category
              option(value='recommend') 推薦
              option(value='recommend') 隨機
          form(action="{% url 'order' %}", method="GET")
            p 排序
            select#sort(name='order', onchange="this.form.submit()")
              option(value='newest') 最新
              option(value='recent') 最近期
              option(value='most-like') 最多人喜歡
              option(value='most-participant') 最多人參與
          hr#line2.line
          
              
        #eventboard
          {% for event in event_obj %}
          a(id='{{ event.pk }}' margin='0')
            .eventpost
              .posttop
                p#post_title.title {{ event.title }}
                p#post_subtitle.subtitle {{ event.subtitle }}
                {% if event.image %}
                img#postimgs(src="{{ event.image.url }}")
                {% else %}
                //#postimgs
                {% endif %}
                #add_pic
                  #addpic_bg
                    #addicon
                  
                  
                #posttag
                  #tags
                
                #postcreatdate
                  //p {{ event.create_date }}
                  
                #postwanted
                  //p {{ event.people_wanted }}
                
              .postbottom
                img#commenticon(src="{% static 'file/participant.png' %}")
                p#commentnum {{ event.number_of_participants }}
              
                {% if request.user.userextend in event.likes.all %}
                img#likeicon(src="{% static 'file/like-y.png' %}")
                {% else %}
                img#likeicon(src="{% static 'file/like-grey.png' %}")
                {% endif %}
                p#likesnum {{ event.number_of_likes }}
          {% empty %}
          #eventpost
            p no event
          {% endfor %}
          
          script.
            $('#eventboard a').on("click", function() {
              console.log(this.id);
              $('#eventwindow').attr('class', this.id)
              event_handler("event/" + this.id, this.id, "{{ csrf_token }}");
            });
          
          #virtualdiv
            .eventpost
            
    {% load static %}
    image#gotop(src="{% static 'file/gotop.png' %}")
    {% if request.user.is_authenticated %}
    #filter1
    #eventcreatewindow
      img#exitbtn2(src="{% static 'file/exiticon.png' %}")
      
      form(action="", method="post", enctype="multipart/form-data", autocomplete="off") {% csrf_token %}
        #profile
        {{ form.as_table }}

        #buttons
          //input#submit-btn(type="image" src="{% static 'file/submitbtn.png' %}" alt="Submit Form")
          input#submit-btn(type="submit" value='發佈')
          //p#submit-btn 發佈
    {% endif %}
    footer
      {% include "footer.pug" %}
      
    .event-detail
      #eventwindow
        #eventwindow-left
          #eventwindow-bg
            #eventpic
              img.pic
              p 目前沒有圖片
          #description
            #description-top
              #event-title {{ event_detail.title }}
              #event-date 活動日期
                br
                | {{ event_detail.event_date }}
            #event-subtitle {{ event_detail.subtitle }}
            #event-detail {{ event_detail.detail }}
          #eventmsgregion
            p#msgtitle 留言板
            #eventmsg-board
              {% for eventmsg in event_detail.board_message.all reversed %}
              .eventmsg#eventmsg
                a(href="{% url 'profile' id=eventmsg.author.pk %}")
                  img.sender(src='{{ eventmsg.author.img.url }}')
                #eventmsg-right
                  #eventmsg-righttop
                    a#eventmsg-sendername(href="{% url 'profile' id=eventmsg.author.pk %}") {{ eventmsg.author.full_name }}
                    p#event-date {{ eventmsg.date }}
                  #eventmsg-rightbottom
                    p#eventmsgtext {{ eventmsg.text }}
              {% empty %}
              
              .eventmsg
                #eventmsg-right
                  #eventmsg-righttop
                    p#event-date 目前沒有留言喔～
              
              {% endfor %}
              
          #eventmsg-sender
            {% if request.user.is_authenticated %}
            a(href="{% url 'profile' id=request.user.userextend.pk %}")
              img#senderpic(src="{{ request.user.userextend.img.url }}")
            {% else %}
            img#senderpic
            {% endif %}
            {% if request.user.is_authenticated %}
            .comment-operate-region
              input.eventmsg-insert(type="text", name='text', placeholder="傳送訊息...")
              input.eventmsg-btn(type="button", value="送出")
              script.
                $(document).ready(function(){
                  $(".eventmsg-btn").on("click", function() {
                  })
                })
            {% else %}
            a.comment-operate-region(href="{% url 'login' %}")
              input.eventmsg-insert(type="text", name='text', placeholder="傳送訊息...")
              input.eventmsg-btn(type="submit", value="送出")
            {% endif %}
            
        #eventwindow-right
          #joinevent-btn
          
          #eventoperate
            a
              img#exitbtn1(src="{% static 'file/exiticon.png' %}")
              
            a#organizer-link(href="#")
              img#organizer-pic.member(src='{{ event_detail.host.img.url }}')
            #bar
            #member
              
              //-
                {% for participant in event_detail.participants.all %}
                a(href="{% url 'profile' id=participant.pk %}")
                  img.member.participant(src='{{ participant.img.url }}')
                {% endfor %}
  
                {% for interested_user in event_detail.likes.all %}
                a(href="{% url 'profile' id=interested_user.pk %}")
                  img.member.interested(src='{{ interested_user.img.url }}')
                {% endfor %}
              
            {% if request.user.is_authenticated %}
            
            {% if event_detail in request.user.userextend.event_like.all %}
            #likebutton(style="background-image: url('/static/file/like-bg-y.png')")
              button(type="image", src="{% static 'file/like-bg-n.png' %}", alt="Submit Form",name="event_id", value="{{ event_detail.id }}")
                span#like-img
            {% else %}
            #likebutton(style="background-image: url('/static/file/like-bg-n.png')")
              button(type="image", src="{% static 'file/like-bg-n.png' %}", alt="Submit Form",name="event_id", value="{{ event_detail.id }}")
                span#like-img
            {% endif %}
            script.
              $(document).ready(function(){
                $("#likebutton").on("click", function() {
                  like_handler('like/' + $(this).closest('#eventwindow').attr('class'), "{{ csrf_token }}", "{{ event_detail.id }}");
                })
              })
            // user not authenticated
            {% else %}
            a.login-redirect(href="{% url 'login' %}")
            #likebutton(style="background-image: url('/static/file/like-bg-n.png')", href="{% url 'login' %}")
              form(action="", method="POST")
                button(type="image", src="{% static 'file/like-bg-n.png' %}", alt="Submit Form",name="event_id", value="{{ event_detail.id }}")
            {% endif %}
      #filter1
        
      
    script(src="{% static 'js/jquery-3.2.1.min.js' %}")
    script(src="{% static 'js/jquery-ui.js' %}")
    script(src="{% static 'js/semantic.min.js")
    //- script(src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js")
    //- script(src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js")
    script(src="{% static 'js/homepage.js' %}")
    script(src="{% static 'js/navbar.js' %}")
