{% load sass_tags %}
{% url 'about_us' as about_us_url %}
{% url 'home' as home_url %}
{% load static %}
link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")  
header
  #navbar
    //#loadingfilter
    //img#loadinggif
    
    a(href="{% url 'home' %}")
      #title CONNECT.

    form(action="{% url 'search' %}", method="GET") 
     input(type="text", placeholder="Search", name="search")

    ul
      li 
        //a#event.button(href="{{ home_url }}")
        a#feedback.button(href="https://forms.gle/jg1putGAWZntSeNPA" title="問題回報")
        #feedback-hover.hover 問題回報
      li
        {% if notice_unread %}
        a#alert.button(title="通知" style="background-image: url({% static './file/noticeicon_red.png'%});")
        {% else %}
        a#alert.button(title="通知" style="background-image: url({% static './file/noticeicon.png'%});")
        {% endif %}
        #notificationboard
          p#noticeheading 通知
          #notices
            {% for noticedata in notice %}
            .notice
              a(href="{% url 'profile' id=noticedata.from_user.userextend.pk %}")
                img#noticesenderpic(src="{{ noticedata.from_user.userextend.img.url }}")
              #notice-right
                {% if noticedata.notificaition_type == 0 %}
                #notice-righttop
                  a#noticesendername(href="{% url 'profile' id=noticedata.from_user.userextend.pk %}") {{ noticedata.from_user.userextend.full_name }}
                  //p#notice-detail {{ noticedata.text }}
                  p 對
                  a#noticeevent(href="{% url 'event_detail' id=noticedata.event.pk %}") {{ noticedata.event }}
                  p 有興趣
                #notice-rightbottom
                  p#notice-date {{ noticedata.date }}
                {% else %}
                #notice-righttop
                  a#noticesendername(href="{% url 'profile' id=noticedata.from_user.userextend.pk %}") {{ noticedata.from_user.userextend.full_name }}
                  p#notice-detail {{ noticedata.text }}
                #notice-rightbottom
                  p#notice-date {{ noticedata.date }}
                {% endif %}
            
            {% empty %}
            .notice
              #notice-right
                #notion-righttop
                  p 目前沒有通知喔～
            {% endfor %}
        #alert-hover.hover 通知
        script.
          $(document).ready(function(){
            $("a#alert").on("click", function() {
              if ($("a#alert").css('background-image') != "/static/file/noticeicon.png") {
                console.log("notice read")
                notice_read_handler(
                  "{% url 'read_notification' %}",
                  "{{ csrf_token}}",
                )
              }
            });
          })
          function notice_read_handler(URL, CSRF) {
            $.ajaxSetup({
              data: {
                csrfmiddlewaretoken: CSRF
              }
            });
            $.ajax({
              type: 'post',
              url: URL,
              data: {},
              dataType: 'json',
              success: function(data) {
                if (data.status == 200) {
                  console.log("all notices are read");
                  $("#alert").css("background-image", "url(/static/file/noticeicon.png)");
                } else {
                  console.log(data.error_message);
                }
              }
            })
          }
      li 
        a#message.button(href="#" title="功能開發中")
        #message-hover.hover 訊息
      li
        a#aboutus.button(href="/about_us" title="about us")
        #aboutus-hover.hover 關於我們
        
      {% if request.user.is_authenticated %}
      
      {% if request.user.is_authenticated and request.user.pk == user.user.pk %}
      li
        a#logout.button(href="/logout/" title="登出")
        #logout-hover.hover 登出
      {% else %}
      li
        a#profile.button(href="{% url 'profile' id=request.user.userextend.pk %}")
          img#userpic(src="{{ request.user.userextend.img.url }}")
        #profile-hover.hover 個人頁面
      {% endif %}
      
      {% else %}
      li
        a#profile.button(href="{% url 'login' %}" title="登入")
      {% endif %}
