{% load sass_tags %}
{% url 'about_us' as about_us_url %}
{% url 'home' as home_url %}
{% load static %}
link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")  
link(href="{% sass_src 'sass/variable.sass' %}",rel="stylesheet",type="text/css")
body
  #navbar-2
  #navbar
    img#selecticon(src="{% static './file/app-selectericon.png'%}")
    a(href="{% url 'home' %}")
      #title CONNECT.

    form(action="{% url 'search' %}", method="GET") 
      input.search-insert(type="text", placeholder="Search", name="search")
      
    ul
      li 
        //a#event.button(href="{{ home_url }}")
        a#feedback.button(href="https://forms.gle/jg1putGAWZntSeNPA" target="_blank" rel="noopener noreferrer")
        #feedback-hover.hover 問題回報
      li
        {% if notice_unread %}
        a#alert.button.alert(title="通知" style="background-image: url({% static './file/noticeicon_red.png'%});")
        a#appalert.button.alert(title="通知" style="background-image: url({% static './file/app-notice_red.png'%});")
        {% else %}
        a#alert.button.alert(title="通知" style="background-image: url({% static './file/noticeicon.png'%});")
        a#appalert.button.alert(title="通知" style="background-image: url({% static './file/app-notice.png'%});")
        {% endif %}
        #notificationboard
          p#noticeheading 通知
          #notices
            {% for noticedata in notice %}
            .notice
              a(href="{% url 'profile' id=noticedata.from_user.userextend.pk %}")
                img#noticesenderpic(src="{{ noticedata.from_user.userextend.img.url }}")
              #notice-right
                #notice-righttop
                  a#noticesendername(href="{% url 'profile' id=noticedata.from_user.userextend.pk %}") {{ noticedata.from_user.userextend.full_name }}
                  {% if noticedata.notification_type == 0 %}
                  a.notice-detail {{ noticedata.text }}
                  #notice-event(style="display: none") {{ noticedata.event.id }}
                  {% elif noticedata.notification_type == 1 %}
                  a.notice-detail(href="{% url 'profile' id=noticedata.from_user.userextend.pk %}") {{ noticedata.text }}
                  {% else %}
                  a.notice-detail(href="{% url 'profile' id=request.user.userextend.pk %}") {{ noticedata.text }}
                  {% endif %}
                #notice-rightbottom
                  p#notice-date {{ noticedata.delta_time }}
              {% if not noticedata.is_read %}
              #notice-status
                span#notice-dot
              {% endif %}        
            
            {% empty %}
            .notice
              #notice-right
                #notion-righttop
                  p 目前沒有通知喔～
            {% endfor %}
            script.
              $(document).ready(function(){
                $(".notice-detail").on("click", function() {
                  if ($(this).siblings("#notice-event").length > 0) {
                    event_handler(
                      "/event/" + $(this).siblings("#notice-event").text(),
                      "{{ request.user.id }}",
                      "{{ csrf_token}}",
                    )
                  }
                });
              })
        #alert-hover.hover 通知
        script.
          $(document).ready(function() {
            $(".alert").on("click", function() {
              if ($(".alert").css('background-image') != "/static/file/noticeicon.png" &&  $(".alert").css('background-image') != "/static/file/app-notice.png") {
                notice_read_handler(
                  "{% url 'read_notification' %}",
                  "{{ csrf_token}}",
                )
              }
            });
          })
          function notice_read_handler(URL, CSRF) {
            $.ajaxSetup({
              data: {
                csrfmiddlewaretoken: CSRF
              }
            });
            $.ajax({
              type: 'post',
              url: URL,
              data: {},
              dataType: 'json',
              success: function(data) {
                if (data.status == 200) {
                  //console.log("all notices are read");
                  $("#appalert").css("background-image", "url(/static/file/app-notice.png)");
                  $("#alert").css("background-image", "url(/static/file/noticeicon.png)");
                } else {
                  console.log(data.error_message);
                }
              }
            })
          }
      li 
        a#message.button
        #message-hover.hover 功能開發中
        //
          訊息
      li
        a#aboutus.button(href="/about_us")
        #aboutus-hover.hover 關於我們
        
      {% if request.user.is_authenticated %}
      
      {% if request.user.is_authenticated and request.user.pk == user.user.pk %}
      li
        a#logout.button(href="/logout/")
        #logout-hover.hover 登出
      {% else %}
      li
        a#profile.button(href="{% url 'profile' id=request.user.userextend.pk %}")
          img#userpic(src="{{ request.user.userextend.img.url }}")
        #profile-hover.hover 個人頁面
      {% endif %}
      
      {% else %}
      li
        a#profile.button(href="{% url 'login' %}")
      {% endif %}
      
      li
        a#home.button(href="{{ home_url }}")
  
  {% load static %}
  image#gotop(src="{% static 'file/gotop.png' %}")  
