{% load static %}
doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    title CONNECT - Profile
    link(href="{% static 'file/logo.ico' %}",rel="icon")
    {% load sass_tags %}
    link(href="{% sass_src 'sass/profile.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/navbar.sass' %}",rel="stylesheet",type="text/css")
    link(href="{% sass_src 'sass/variable.sass' %}",rel="stylesheet",type="text/css")
    script(src="{% static 'js/jquery-3.2.1.min.js' %}")
    script(src="{% static 'js/jquery-ui.js' %}")
    script(src="{% static 'js/d3.v5.js' %}")
    script(src="{% static 'js/sweetalert2@11.js' %}")
  {% include 'navbar.pug' %}

  body
    #phoneerrormsg
      //#errorlogo
      p 尚未針對窄螢幕優化
        br
        | 請先以電腦網頁瀏覽
      #errorfilter
    
    {% include 'event_detail.pug' %}
    #profileall
      #profilepanel
        #top-region
          #intro
            #info
              {% if user.img %}
              img#user-img(src="{{ user.img.url }}")
              {% else %}
              #user-img
              {% endif %}
              #user-name {{ user.full_name }}
              #school-info
                #department {{ user.department }}
                #grade {{ user.grade }}
            #description-tag
              #description-background
                p#description {{ user.personal_description }}
              .tag-field
                
                p 個性
                {% for personality in personality %}
                {% if not personality.is_hidden %}
                .tag-style
                  p.tags.normaltag {{ personality.text }}
                {% endif %}
                {% empty %}
                p(style="color: #E98C6F") 他好像還沒設定個性
                {% endfor %}
              .tag-field
                p 專長
                {% for skill, can_comment in skill %}
                {% if not skill.is_hidden %}
                .tag-style
                  p.tags.normaltag {{ skill.text }}
                  .tag-comment
                    #tag-comment-send-region
                      {% if request.user.is_authenticated and request.user.pk != user.user.pk and can_comment %}
                      a(href="{% url 'profile' id=request.user.userextend.pk %}")
                        img#senderpic(src="{{ request.user.userextend.img.url }}")
                      .cmd-txt-region
                        input.comment-insert(type="text",name='text',placeholder="對於他的看法？")
                      button.sendbutton(src="{% static 'file/send-arrow.png' %}", alt="Submit" id="cmd-send-submmit")
                      #tag-id(style="display: none") {{ skill.id }}
                      {% else %}
                      {% endif %}
                    #tag-comment-board
                      {% for tagcomment in skill.comments.all %}
                      .tagcmt-wrap
                        img#cmtfrom(src="{{ tagcomment.author.userextend.img.url }}")
                        #cmttext
                          p {{ tagcomment.text }}
                      .eventmsg#eventmsg(style="display: none")
                        a
                          img.sender
                        #eventmsg-right
                          #eventmsg-righttop
                            a#eventmsg-sendername
                            p#event-date
                          #eventmsg-rightbottom
                            p#eventmsgtext
                      {% empty %}
                      .tagcmt-wrap
                        #cmtfrom
                          img.sender(src="{% static 'file/personicon.png' %}")
                        #cmttext
                          p 沒有更多留言囉
                      {% endfor %}
                {% endif %}
                {% empty %}
                p(style="color: #E98C6F") 他好像還沒設定專長
                {% endfor %}
              script.
                $(document).ready(function(){
                  $("button.sendbutton").on("click", function() {
                    tag_comment_handler(
                      "{% url 'tag_comment' %}",
                      "{{ csrf_token }}",
                      $(this).siblings("#tag-id").text(),
                      $(this).siblings(".cmd-txt-region").children("input").val(),
                      $(this).parent().siblings('#tag-comment-board'),
                      $(this).parent()
                    )
                  });
                })
              .tag-field
                p 有興趣活動
                {% for interest in interest %}
                {% if not interest.is_hidden %}
                .tag-style
                  p.tags.normaltag {{ interest.text }}
                {% endif %}
                {% empty %}
                p(style="color: #E98C6F") 他好像還沒設定有興趣的活動
                {% endfor %}

              #buttons
                {% if request.user.is_authenticated and request.user.pk == user.user.pk %}
                a(href="{% url 'profile_edit' request.user.userextend.pk %}") 編輯
                {% else %}
                {% if not user.user in request.user.userextend.friends.all %}
                //- page user is not request user's friend yet
                {% if not user.user in request.user.userextend.unverified_friends.all %}
                {% if not request.user in user.unverified_friends.all %}
                //- page user hasn't been linked
                input#create-link(type="button", value="建立連結")
                input#request-sent(type="button", value="已送出", style="display: none")
                {% else %}
                //- page user has sent friend request to request user
                input#confirm-friend(type="button", value="確認連結")
                input#cancel-friend(type="button", value="拒絕連結")
                script.
                  $(document).ready(function(){
                    $("#confirm-friend").on("click", function() {
                      console.log("friend confirmed")
                      friend_reply_handler(
                        "{% url 'friend_reply' %}",
                        "{{ csrf_token}}",
                        {{ user.user.pk }},
                        1,
                      )
                    });
                    $("#cancel-friend").on("click", function() {
                      console.log("friend cancel")
                      friend_reply_handler(
                        "{% url 'friend_reply' %}",
                        "{{ csrf_token}}",
                        {{ user.user.pk }},
                        0,
                      )
                    });
                  })
                {% endif %}
                {% else %}
                //- page user pending verification of friend status
                input#request-sent(type="button", value="已送出")
                {% endif %}
                {% else %}
                //- page user is already request user's friend
                input#remove-friend(type="button", value="取消連結")
                script.
                  $(document).ready(function(){
                    $("#remove-friend").on("click", function() {
                      console.log("friend remove")
                      friend_remove_handler(
                        "{% url 'friend_remove' %}",
                        "{{ csrf_token}}",
                        {{ user.user.pk }},
                      )
                    });
                  })
                {% endif %}

                input(type="button", value="傳訊息")

                script.
                  $(document).ready(function(){
                    $("#create-link").on("click", function() {
                      console.log("friend request sent")
                      friend_request_handler(
                        "{% url 'friend_request' %}",
                        "{{ csrf_token}}",
                        {{ user.user.pk }},
                      )
                      $("#create-link").hide();
                      $("#request-sent").show();
                    });
                  })
                {% endif %}
                           
        #graph(style="display: none")
        
        #bottom-region
          #left-pane
            #title-count
              p 連結人
              p#friend-count {{ friend_count }}
            #friends-avatar.left-region
              {% for friend, friend_connect in friend_zip %}
              a(href="{% url 'profile' id=friend.userextend.pk %}")
                img.friend-img(src="{{ friend.userextend.img.url }}")
                .friend-info
                  .info-brief
                    img.friend-img(src="{{ friend.userextend.img.url }}")
                    .info-brief-right
                      p#friend-name {{ friend.userextend.full_name }}
                      .info-brief-school
                        p {{ friend.userextend.department }}
                        p {{ friend.userextend.grade }}
                        p 0位共同連結
                  {% if friend_connect %}
                  p {{ friend.last_name }} 與他一起參與過 {{ friend_connect }} 個活動
                  //{{ user.user.last_name }}
                  {% else %}
                  p {{ friend.last_name }} 與他 還沒有一起參與過活動
                  {% endif %}
              {% empty %}
              p 快去建立連結吧
              {% endfor %}
              .virtualimg
              .virtualimg
              .virtualimg
              .virtualimg
              .virtualimg
              .virtualimg
            //-
              hr#divider1.lefthr
              p 個性
              #personality.left-region
                {% for personality in personality %}
                .tag-style
                  p.tags {{ personality.text }}
                {% empty %}
                p(style="color: #E98C6F") 他好像還沒設定個性
                {% endfor %}
              hr#divider2.lefthr
              p 專長
              #shill.left-region
                {% for skill in skill %}
                .tag-style
                  p.tags {{ skill.text }}
                {% empty %}
                p(style="color: #E98C6F") 他好像還沒設定專長
                {% endfor %}
              hr#divider3.lefthr
              p 有興趣活動
              #interest.left-region
                {% for interest in interest %}
                .tag-style
                  p.tags {{ interest.text }}
                {% empty %}
                p(style="color: #E98C6F") 他好像還沒設定有興趣的活動
                {% endfor %}
                
            //.tags#personality-left

          #right-pane
            #indextag
              #tag1.tag
              #tag2.tag
              #tag3.tag
              //#tag4.tag
              //#tag5.tag
          
            #tab-navbar
              input(type="button", value="參與活動")
              input(type="button", value="參與專案")
              input(type="button", value="個人專案")
              //input(type="button", value="...")
              //input(type="button", value="...")

            #activities.page-panel
              {% for activity in activities %}
              #activity-card.card
                .cardleft
                  {% if activity.image %}
                  a(href="{% url 'profile_event' id=user.pk event_id=activity.pk%}")
                    img#activity-img.card-img(src="{{ activity.image.url }}")
                  {% else %}
                  #activity-img.card-img
                    p#nopicalert 尚未新增圖片
                  {% endif %}
                  #activity-date
                    {% if activity.event_date %}
                    p.date {{ activity.event_date }}
                    {% else %}
                    p.date 未設定日期
                    {% endif %}
                  #activity-detail.event-detail
                    {% if activity.detail %}
                    p.detail {{ activity.detail }}
                    {% else %}
                    p.detail 未設定詳情
                    {% endif %}
                
                .cardright
                  .info
                    a(href="{% url 'profile_event' id=user.pk event_id=activity.pk%}")
                      p#activity-title.cardinfott {{ activity.title }}
                    {% if activity.host.pk == user.pk %}
                    p#activity-character.charname 主辦人
                    {% else %}
                    p#activity-character.charname 參與者
                    {% endif %}
                
                  #activity-comment.comments
                    {% for comment in activity.event_comments.all reversed%}
                    {% if comment.for_user.id == user.id %}
                    //-
                      .comment
                        {% load static %}
                        a(href="{% url 'profile' id=comment.author.pk %}")
                          img#participant-img(src="{{ comment.author.img.url }}")
                        .comment-right
                          a(href="{% url 'profile' id=comment.author.pk %}") {{ comment.author.full_name }}
                          p#participant-comment {{ comment.text }}
                    .eventmsg#eventmsg
                        a
                          img.sender
                        #eventmsg-right
                          #eventmsg-righttop
                            a#eventmsg-sendername {{ comment.author.full_name }}
                            p#event-date
                          #eventmsg-rightbottom
                            p#eventmsgtext {{ comment.text }}
                    {% endif %}
                    {% empty %}
                    .comment
                      .comment-right
                        #participant-comment
                          p 這個活動好像還沒有評論
                    {% endfor %}
              {% empty %}
              #activity-card.card
                p.hint(style="color: #E98C6F") 看來他好像還沒參加過活動喔
              {% endfor %}
              script.
                $(document).ready(function(){
                  $(".send-comment").on("click", function() {
                    console.log("comment sending " + $(this).siblings(".event-id").text())
                    send_comment_handler(
                      "{% url 'send_comment' %}",
                      "{{ csrf_token }}",
                      $(this).siblings(".event-id").text(),
                      $(this).siblings(".comment-text").val(),
                      $(this).siblings(".comment-rate").val(),
                      $(this).parent().siblings(".comments"),
                      $(this).siblings(".comment-count").text()
                    )
                  });
                })
            
            #projects.page-panel(style="display: none")
              {% for project in projects %}
              #projects-card.card
                .cardleft
                  {% if project.image %}
                  a(href="{% url 'profile_event' id=user.pk event_id=project.pk%}")
                    img#projects-img.card-img(src="{{ project.image.url }}")
                  {% else %}
                  #projects-img.card-img
                    p#nopicalert 尚未新增圖片
                  {% endif %}
                  #project-date
                    {% if project.event_date %}
                    p.date {{ project.event_date }}
                    {% else %}
                    p.date 未設定日期
                    {% endif %}
                  #project-detail.event-detail
                    {% if project.detail %}
                    p.detail {{ project.detail }}
                    {% else %}
                    p.detail 未設定詳情
                    {% endif %}
                  
                .cardright
                  .info
                    a(href="{% url 'profile_event' id=user.pk event_id=project.pk%}")
                      p#project-title.cardinfott {{ project.title }}
                    {% if activity.host.pk == user.pk %}
                    p#projects-character.charname 主辦人
                    {% else %}
                    p#projects-character.charname 參與者
                    {% endif %}
                
                  #projects-comment.comments
                    {% for comment in project.event_comments.all reversed %}
                    .comment
                      {% load static %}
                      a(href="{% url 'profile' id=comment.author.pk %}")
                        img#participant-img(src="{{ comment.author.img.url }}")
                      .comment-right
                        a(href="{% url 'profile' id=comment.author.pk %}") {{ comment.author.full_name }}
                          //p#participant-name {{ comment.author.full_name }}
                        p#participant-comment {{ comment.text }}
                    {% empty %}
                    .comment
                      .comment-right
                        #participant-comment
                          p 這個活動好像還沒有評論
                    {% endfor %}           

              {% empty %}
              #activity-card.card
                p.hint(style="color: #E98C6F") 看來他好像還沒參與過專案
              {% endfor %}
                    


            #personal.page-panel(style="display: none")
              {% for personal_proj in personal_projs %}
              #personal-card.card
                .cardleft
                  {% if personal_proj.image %}
                  a(href="{% url 'profile_event' id=user.pk event_id=personal_proj.pk%}")
                    img#personal-img.card-img(src="{{ personal_proj.image.url }}")
                  {% else %}
                  #personal-img.card-img
                    p#nopicalert 尚未新增圖片
                  {% endif %}
                  #personal-date
                    {% if personal.event_date %}
                    p.date {{ personal.event_date }}
                    {% else %}
                    p.date 未設定日期
                    {% endif %}
                  #personal-detail.event-detail
                    {% if personal.detail %}
                    p.detail {{ personal.detail }}
                    {% else %}
                    p.detail 未設定詳情
                    {% endif %}
                .cardright
                  a(href="{% url 'profile_event' id=user.pk event_id=personal_proj.pk%}")
                    p#personal-title {{ personal_proj.title }}
                  p#personal-detail {{ personal_proj.detail }}
              {% empty %}
              #activity-card.card
                p.hint(style="color: #E98C6F") 看來他好像還沒新增過個人專案
              {% endfor %}
                   
      footer
        {% include "footer.pug" %}

    script(src="{% static 'js/semantic.min.js' %}")
    script(src="{% static 'js/profile.js' %}")
    script(src="{% static 'js/navbar.js' %}")
